@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Регистрация волонтёров 
        <br />
            <span class="btn btn-outline-danger text-dark">
                 @Html.ActionLink("Регистрация", "Create", "Volunteers")
            </span>
    </h1>
    
</div>

